@media (max-width: 768px) {
	
	.no-mobile {
		display: none;
	}

	.mobile {
		display: block;
	}

	.page {
		padding: 0;	
		position: relative;
		width: 100%;
		min-height: 100%;
		height: auto;
		overflow: auto;
	}

}