*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: $grey-1;
	color: #fff;
}

.page {
	z-index: 0;
	padding-left: $padding-separation-type-1;	
	position: relative;
	width: 100%;
	height: 100%;

	&.page-type-1 {
		padding-top: $padding-border-type-1;
		padding-bottom: $padding-border-type-1;
	}

	.page-content {
		position: relative;
		z-index: 1;
		
	}
}

.clear {
    clear: both;
}

.no-mobile {
    display: block;
}

.mobile {
    display: none;
}

/* Fonts */
h1 {

}

h2 {
}

h3 {

}

.text-1 {

}

a {
	color: #fff;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	.liseret-anim {

		@include transition(all 0.3s)
	}

	&:hover {
		.liseret-anim {

		}
	}
}


#intro {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $grey-1;
	z-index: 99;

	#intro-logo {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -74px;
		margin-left: -38px;
		@include opacity(1);
		transition: opacity 0.3s;
		cursor: pointer;		

		&:hover {
			@include opacity(0.7);
		}
	}
}

#intro-transition {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	z-index: 98;
	transition: top 1.4s $animeTransitionHome, height 1.4s $animeTransitionHome;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

	}

	&.active {
		top: -400%;
		height: 400%;
	}
}