@font-face {
    font-family: 'gotham_bold';
    src: url('../../../fonts/Gothambold/gotham_bold.eot');
    src: url('../../../fonts/Gothambold/gotham_bold.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/Gothambold/gotham_bold.woff') format('woff'),
         url('../../../fonts/Gothambold/gotham_bold.ttf') format('truetype'),
         url('../../../fonts/Gothambold/gotham_bold.svg#gotham_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStdBook';
    src: url('../../../fonts/FuturaStd/FuturaStdBook.eot');
    src: url('../../../fonts/FuturaStd/FuturaStdBook.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/FuturaStd/FuturaStdBook.woff') format('woff'),
         url('../../../fonts/FuturaStd/FuturaStdBook.ttf') format('truetype'),
         url('../../../fonts/FuturaStd/FuturaStdBook.svg#FuturaStdBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStdHeavy';
    src: url('../../../fonts/FuturaStd/FuturaStdHeavy.eot');
    src: url('../../../fonts/FuturaStd/FuturaStdHeavy.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/FuturaStd/FuturaStdHeavy.woff') format('woff'),
         url('../../../fonts/FuturaStd/FuturaStdHeavy.ttf') format('truetype'),
         url('../../../fonts/FuturaStd/FuturaStdHeavy.svg#FuturaStdHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

