.bullets-nav {
	margin: 0 auto;

	li {
		display: block;
		width: 7px;
		height: 7px;
		background-color: #fff;
		@include opacity(0.4);
		@include border-radius(50%);
		margin: 0 auto;
		margin-top: 15px;
		cursor: pointer;
		transition: opacity 0.6s;

		&:first-child {
			margin-top: 0;
		}

		&.active, &:hover {
			@include opacity(1);
		}
	}
}