.button {
	color: blue;
}

.video-play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 6;
	transition: background-color 0.3s;
	cursor: pointer;
	

	.icon-play {
		display: block;
		margin: 0 auto;

	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}
}
