.list-with-background {

	.list-backgrounds {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0%;
		overflow: hidden;
		transition: height 0.2s $easeInOutCubic;


		.background-mask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
			background-size: cover!important;
			transition: top 0.4s $easeInOutCubic;

			&.active {
				z-index: 2;
			}

			img {
				//margin-top: 0!important;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: auto;
				
			}
		}

		&.active {
			height: 100%;
			transition: height 0.4s $easeInOutCubic;
		}

		&.clicked {
			top: -60%;
			height: 0%;
			transition: top 0.6s $animeTransitionHome, height 0.6s $animeTransitionHome;			


			.background-mask {
				top: 50%;
				transition: top 0.6s $animeTransitionHome;
			}
		}
	}
}