.next-page {
	position: relative;
	width: 100%;
	overflow: hidden;
	@include aspect-ratio(100, 39.4);
	

	.background {
		position: absolute;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		overflow: hidden;
		transition: left 0.6s $easeInOutCubic;

		.mask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: 3;
		}


		.image-wrapper {
			position: absolute;
			top: 0;
			left: -80%;
			width: 100%;
			height: 100%;
			background-size: cover!important;
			transition: top 0.3s $easeInOutQuart, left 0.5s $zoomHomeMedia, width 0.5s $zoomHomeMedia, height 0.5s $zoomHomeMedia;
		}
	}

	.text {
		position: absolute;
		bottom: 23%;
		left: 155px;
		z-index: 4;
		width: 80%;

		.subtitle {
			position: relative;
			@include text-7();
			color: #fff;
			height: 22px;
			width: 100%;

			.subtitle-text {
				position: absolute;
				top: 50px;
				left: 0;
				width: 100%;
				//height: 100%;
				@include opacity(0);
				transition: opacity 0.4s $easeInOutQuad, top 0.4s $easeInOutQuad;
				transition-delay: 0.3s;

				.subtitle-text-inside {
					position: relative;
					display: inline-block;
				}
			}
		}

		.title {
			position: relative;
			height: 70px;
			margin-top: 10px;
			@include title-1();
			color: #fff;

			.title-text {
				position: absolute;
				top: 50px;
				left: 0;
				width: 100%;
				//height: 100%;
				@include opacity(0);
				transition: opacity 0.4s $easeInOutQuad, top 0.4s $easeInOutQuad;
				transition-delay: 0.4s;

				.title-text-inside {
					position: relative;
					display: inline-block;

					a {
						color: #fff;
						transition: color 0.4s;

					}

					.arrow-title {
						position: absolute;
						top: 50%;
						margin-top: -4px;
						width: 11px;
						height: 18px;
						transition: right 0s, opacity 0s;
					}

					.arrow-1 {
						@include opacity(1);
						right: -50px;
					}

					.arrow-2 {
						@include opacity(0);
						right: 0px;
					}
				}
			}

		}
	}

	&.active {

		.background {
			left: 0;
		}

		.image-wrapper {
			left: 0;
		}

		.text {
			.subtitle {
				.subtitle-text {
					top: 0;
					@include opacity(1);
				}
			}

			.title {
				.title-text {
					top: 0;
					@include opacity(1);

					.title-text-inside {

						&:hover {
							
							a {
								color: $orange-1;
							}

							.arrow-title {
								transition: right 0.4s $easeInOutQuart, opacity 0.4s $easeInOutQuart;
							}

							.arrow-1 {
								@include opacity(0);
								right: -100px;
							}

							.arrow-2 {
								@include opacity(1);
								right: -50px;
							}
						}
					}
				}

			}
		}

		&.zoomable:hover {

			.background {
				.image-wrapper {
					top: -3%;
					left: -3%;
					width: 106%;
					height: 106%;
					transition: top 1.3s $zoomHomeMedia, left 1.3s $zoomHomeMedia, width 1.3s $zoomHomeMedia, height 1.3s $zoomHomeMedia;
				}
			}

		}
	}

	&.next-page-vertical-center {
		.text {
			
			bottom: 40%
		}
	}

}

@media (max-width: 768px) {
	.next-page {
		@include aspect-ratio(100, 100);

		.background {
			left: 0;

			.image-wrapper {
				left: 0;
				transition: none;
			}

		}

		.text {
			position: absolute;
			bottom: 25px;
			left: 25px;
			z-index: 4;
			width: 100%;
			padding-right: 50px;

			.subtitle {
				position: relative;
				@include text-7();
				color: #fff;
				height: 22px;
				width: 100%;


				.subtitle-text {
					top: 0;
					@include opacity(1);
					transition: none;
				}
			}

			.title {
				position: relative;
				height: auto;
				margin-top: 10px;
				@include title-2();


				.title-text {
					top: 0;
					@include opacity(1);
					transition: none;

					.title-text-inside {
						.arrow-1 {
							@include opacity(1);
							right: -30px;
						}
					}
				}
			}
		}

		&.next-page-vertical-center {
			.text {
				bottom: 45%
			}
		}
	}
	
}