$slider-arrow-margin: 50px;

.slider {
	position: relative;
	width: 100%;
	height: auto;

	.arrow {
		position: absolute;
		top: 50%;
		margin-top: -17px;
		@include opacity(0.3);
		cursor: pointer;
		transition: opacity 0.3s;


		&.arrow-left {
			left: $slider-arrow-margin;
		}

		&.arrow-right {
			right: $slider-arrow-margin;
		}

		&:hover {
			@include opacity(1);
		}
	}

	.bullets {
		position: relative;
		list-style-type: none;
		text-align: center;
		margin-top: 40px;

		li {
			display: inline-block;
			margin-left: 15px;
			width: 7px;
			height: 7px;
			border: 1px solid $grey-6;
			background-color: transparent;
			@include border-radius(50%);
			transition: background-color 0.3s;

			&:first-child {
				margin-left: 0;
			}

			&.active {
				background-color: #fff;
			}
		}
	}


	.slides {
		list-style-type: none;
		position: relative;
		margin: 0 $padding-separation-type-1;
		overflow: hidden;
		@include aspect-ratio(100, 54);

		li {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			background-size: cover!important;
			

			&:first-child {
				z-index: 3;

			}
		}
	}
}

@media (max-width: 768px) {
	.slider {

		.arrow {
			position: absolute;
			top: 50%;
			margin-top: -23px;
			@include opacity(0.3);
			cursor: pointer;
			transition: opacity 0.3s;

			&.arrow-left {
				left: 6px;
			}


			&.arrow-right {
				right: 6px;
			}

			&:hover {
				@include opacity(1);
			}
		}

		.bullets {
			margin-top: 15px;

			li {
				margin-left: 12px;

			}
		}

		.slides {
			margin: 0 25px;
		}

	}
}