.anime-appear {
	
}

.anime-appear-bloc-text {
	position: relative;
	width: 100%;
	
	.anime-appear-wrap {
		position: absolute;
		top: 50px;
		left: 0;
		@include opacity(0);
		transition: opacity 0.6s ease, top 0.6s ease;
	}

	&.active {
		.anime-appear-wrap {
			top: 0;
			@include opacity(1);
		}
	}

	&.display {
		//width: 100%;

		.anime-appear-wrap {
			position: relative;
			width: 100%;
			height: auto;
		}
	}
}

.anime-appear-parallax {
	background-color: $grey-1;
	transition: background-color 0.7s ease;

	&.active {
		background-color: transparent;
	}
}

.anime-appear-image {
	top: 50px;
	@include opacity(0);
	transition: opacity 0.6s ease, top 0.6s ease;

	&.active {
		top: 0;
		@include opacity(1);
	}
}

.anime-appear-opacity {
	@include opacity(0);
	transition: opacity 0.7s ease;

	&.active {
		@include opacity(1);
	}
}

.anime-header-text {
	position: relative;
	overflow: hidden;

	.anime-wrap {
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100%;
		@include opacity(0);
		transition: opacity 0.5s $animeWorkViewTitle, top 0.5s $animeWorkViewTitle;

		.anime-wrap-text {
			display: inline-block;
		}
	}


	&.active {
		.anime-wrap {
			top: 0;
			@include opacity(1);
		}
	}
}

.anime-appear-cascade-texts {
	.cascade-text {
		padding-top: 50px;
		@include opacity(0);
		transition: opacity 0.5s $animeWorkViewTitle, padding-top 0.5s $animeWorkViewTitle;


		&.active {
			padding-top: 0;
			@include opacity(1);
		}
	}
}

.anime-appear-cascade-lines {

	.cascade-line {
		margin-top: 50px;
		@include opacity(0);
		transition: margin-top 0.6s $animeWorkViewTitle, opacity 0.6s $animeWorkViewTitle;

		&.active {
			margin-top: 2px;
			@include opacity(1);

		}

	}
}

.anime-appear-cascade {

	.cascade-elt {

	}
}


@media (max-width: 768px) {
	.anime-appear-bloc-text {

		.anime-appear-wrap {
			top: 0;
			@include opacity(1);
			transition: none;
		}
	}

	.anime-appear-image {
		top: 0;
		@include opacity(1);
		transition: none
	}

	.anime-appear-opacity {
		@include opacity(1);
		transition: none;
		
	}

	.anime-appear-cascade-texts {
		.cascade-text {
			padding-top: 0;
			@include opacity(1);
			
		}
	}

	.anime-appear-cascade-lines {

		.cascade-line {
			margin-top: 0;
			@include opacity(1);
			transition: none;

			&.active {
				margin-top: 0;
			}
		}
	}

	.anime-header-text {

		.anime-wrap {
			top: 0;
			@include opacity(1);
			transition: none;
		}
	}
}