/* ------------------------- */
/*			Titles			 */
/* ------------------------- */

@mixin title-1() {
	font-size: 65px;
	font-family: 'gotham_bold', serif;
     line-height: 70px;
}

@mixin title-big-responsive() {
	font-size: 50px;
	font-family: 'DSTypeLeituraDisplayRoman', serif;
}

@mixin title-menu() {
     font-size: 60px;
     font-family: 'FuturaStdBook', serif;
}

@mixin title-2() {
     font-size: 35px;
     font-family: 'gotham_bold', serif;
     line-height: 40px;
}

@mixin title-3() {
     font-size: 30px;
     font-family: 'gotham_bold', serif;
}

@mixin title-4() {
     font-size: 40px;
     font-family: 'gotham_bold', serif;
}



/* ------------------------- */
/*			Textes			 */
/* ------------------------- */

@mixin text-1() {
     font-family: "FuturaStdBook", sans-serif;
     font-size: 15px;
     line-height: 22px;
     letter-spacing: 1px;
}

@mixin text-1-responsive($color) {
     font-family: "gotham_bold", sans-serif;
     font-size: 10px;
     color: $color;
     text-transform: uppercase;
     letter-spacing: 2px;
}

@mixin text-2() {
     font-family: "FuturaStdHeavy", sans-serif;
     font-size: 18px;
     letter-spacing: 14px;
     text-transform: uppercase;
}

@mixin text-3() {
     font-family: "FuturaStdHeavy", sans-serif;
     font-size: 15px;
     letter-spacing: 12px;
     text-transform: uppercase;
}

@mixin text-4() {
     font-family: "gotham_bold", sans-serif;
     font-size: 22px;
     text-transform: uppercase;
}

@mixin text-5() {
     font-family: "FuturaStdBook", sans-serif;
     font-size: 15px;
     letter-spacing: 1px;
     line-height: 32px;
}

@mixin text-6() {
     font-family: "FuturaStdBook", sans-serif;
     font-size: 15px;
     letter-spacing: 2px;
     font-weight: bold;
}

@mixin text-7() {
     font-family: "FuturaStdBook", sans-serif;
     font-size: 20px;
     line-height: 36px;
}

@mixin text-8() {
     font-family: "FuturaStdHeavy", sans-serif;
     font-size: 10px;
     letter-spacing: 4px;
     text-transform: uppercase;
}


@mixin text-9() {
     font-family: "FuturaStdBook", sans-serif;
     font-size: 15px;
     letter-spacing: 2px;
}

@mixin text-10() {
     font-family: "gotham_bold", sans-serif;
     font-size: 11px;
     text-transform: uppercase;
     letter-spacing: 1px;
}

@mixin text-11() {
     font-family: "gotham_bold", sans-serif;
     font-size: 25px;
}

@mixin text-12() {
     font-family: "FuturaStdHeavy", sans-serif;
     font-size: 14px;
     letter-spacing: 5px;
     text-transform: uppercase;
}
