/* --- Colors --- */

// Grey
$grey-1: #222222;
$grey-2: #393939;
$grey-3: #7a7a7a;
$grey-4: #c5c5c5;
$grey-5: #595959;
$grey-6: #4b4b4b;
$grey-7: #a0a2a6;
$grey-8: #464646;


// Orange
$orange-1: #f68f30;

/* --- Paddings --- */
$padding-border-type-1: 64px;
$padding-separation-type-1: 100px;
$nextProjectArrow: 64px;
$nextProjectArrowInit: 45px;

/* easing */
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$animeTransitionHome: cubic-bezier(0.900, 0.010, 0.160, 1.000);
$animeTransitionText: cubic-bezier(0.290, 0.000 ,0.000, 1.000);
$zoomHomeMedia: cubic-bezier(0.300,0.000,0.100,1.000);
$animeWorkViewTitle: cubic-bezier(0.040,0.000,0.000,1.000);

/* Speed */
$speedCover: 0.5s;
$speedTitle: 0.6s;
$speedNum: 0.5s;