.normal-width {
	padding: 0 $padding-separation-type-1;
}

.small-width {
	//width: 61%;
	width: 800px;
	margin: 0 auto;
	
}

.small-fixed-width {
	width: 850px;
	margin: 0 auto;
}

@media (max-width: 1200px) {
	.small-width {
		width: 70%;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.normal-width {
		padding: 0 25px;
		
	}

	.small-width {
		//width: 61%;
		width: 100%;
		padding: 0 25px;	
			
	}
}