@media (max-width: 768px) {

	#about {
		margin-top: 80px;

		#header-mobile {
			position: relative;
			width: 100%;
			height: auto;
			padding: 50px 25px;

			#background-mobile {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover!important;
			}

			.header-mobile-content {

				.toptitle-mobile {
					position: relative;
					@include text-2();
					color: $orange-1;
					margin-bottom: 15px; 
				}

				.title-mobile {
					position: relative;
					@include title-2();
					font-size: 35px;
					line-height: 40px;
					color: #fff;

					.orange {
						color: $orange-1;
					}
				}
				
				.subtitle-mobile {
					position: relative;
					@include title-2();
					font-size: 25px;
					color: $grey-5;
					margin-top: 10px;

				}


				#list-logos-mobile {
					position: relative;
					margin-top: 15px;

					li {
						display: block;
						float: left;
						margin-left: 15px;
						&:first-child {
							margin-left: 0;
						}

						img {
							display: block;
							position: relative;
							height: 30px;
							width: auto;
						}

					}
				}
			}
		}

		#text-1 {
			margin-top: 50px;

			#text-1-toptitle {
			}

			#text-1-title {
				@include title-3();
				font-size: 20px;
				line-height: 23px;
				color: #fff;
				margin-top: 20px;
			}


			#text-1-text {
				@include text-1();
				color: $grey-4;
				margin-top: 20px;
			}
		}

		.about-liseret-separation {
			margin: 60px auto;
		}

		#trombi {

			#trombi-toptitle {
				@include text-2();
				color: $orange-1;
				text-align: center;
			}


			#list-persons {
				margin-top: 60px;

				.trombi-line {
					display: block;

					.trombi-perso {
						//flex: 1;
						position: relative;
						width: 100%;
						overflow: hidden;
						@include aspect-ratio(100, 74.3);
						margin-left: 0;
						margin-right: 0;
						margin-top: 5px;


						.trombi-perso-container {
						
							.mask {
								@include opacity(0.5);
								transition: none;
							}

							.name {
	
								.name-text {
									margin-top: 0;
									@include opacity(1);
									transition: none;
								}
							}
						}
					}
				}
			}
		}

		#brand-experience {
			.title {
				padding-top: 0;
				@include opacity(1);
				transition: none;
				font-size: 20px;
				line-height: 23px;
			}
			

			.text {
				padding-top: 0;
				@include opacity(1);
				transition: none;
			}



			#list-brands {
				li {
					display: block;
					float: none;
					width: 100%;
					margin-bottom: 50px;
					padding-left: 0;
					@include text-1();
					margin-top: 50px;
					text-align: center;
					@include opacity(1);
					transition: none;

					.brand-type {
						font-weight: bold;

					}


					.brand-names {
						width: 70%;
						margin: 0 auto;
						text-align: center;
					}
				}
			}
		}

		#services {
			margin-top: 60px;

			#list-services {
				position: relative;
				margin-top: 0;
				padding-top: 30px;
				padding-bottom: 30px;

				ul {

					li {
						margin-top: 7px;
						@include title-3();
					}
				}
			}
		}

		footer {
			margin-top: 60px;
			border-top: 1px solid $grey-8;
		}
		

	}
}