#about {

	#header {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		#background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			transition: height 0.8s ease, width 0.8s ease, top 0.8s ease, left 0.8s ease;

			img {

			}

			&.active {
				width: 110%;
				height: 110%;
				top: -5%;
				left: -5%;
			}
		}

		#header-align {
			margin-left: $padding-separation-type-1;

			#toptitle {
				position: relative;
				@include text-2();
				color: $orange-1;
				height: 18px;
				line-height: 18px;
			}

			#title {
				margin-top: 30px;

				.title {
					position: relative;
					@include title-1();
					color: #fff;
					height: 70px;
					line-height: 70px;
				}
			}

			#subtitle {
				position: relative;
				@include title-1();
				color: $grey-5;
				height: 70px;
				line-height: 70px;
			}

			.write-text {
				display: none;
				color: $orange-1;

				&.white {
					color: #fff;

				}

				&.active-text {
					display: inline;
				}
			}

			#list-logos {
				position: relative;
				margin-top: 35px;
				height: 60px;
				overflow: hidden;


				li {
					display: block;
					float: left;
					margin-left: 35px;
					padding-top: 50px;
					@include opacity(0);
					transition: opacity 0.5s $easeInOutCubic, padding-top 0.5s $easeInOutCubic;

					&:first-child {
						margin-left: 0;
					}

					&.active {
						@include opacity(1);
						padding-top: 0;
					}

					img {
						display: block;
						position: relative;
						height: 60px;
						width: auto;
					}

				}
			}
		}

		#go-down {
			position: absolute;
			bottom: 100px;
			left: $padding-separation-type-1;
			cursor: pointer;
			transition: bottom 0.3s;

			&:hover {
				bottom: 95px;
			}

		}

		#logo {
			position: absolute;
			top: 50%;
			right: $padding-separation-type-1;
			margin-top: -12px; 
		}
		
	}

	#text-1 {
		text-align: center;
		margin-top: 100px;

		p {
			display: block;
			margin: 10px 0;
		}


		#text-1-toptitle {
			@include text-2();
			color: $orange-1;
		}

		#text-1-title {
			@include title-2();
			color: #fff;
			margin-top: 40px;
		}

		#text-1-text {
			@include text-1();
			color: $grey-4;
			margin-top: 40px;
		}
	}

	.about-liseret-separation {
		width: 50%;
		height: 1px;
		background-color: $grey-5;
		margin: 130px auto;
	}

	#trombi {

		#trombi-toptitle {
			@include text-2();
			color: $orange-1;
			text-align: center;
		}

		#list-persons {
			margin-top: 70px;

			.trombi-line {
				display: flex;
				flex-wrap: nowrap;


				.trombi-perso {
					//flex: 1;
					position: relative;
					width: 33.33%;
					overflow: hidden;
					@include aspect-ratio(100, 74.3);
					margin-left: 1px;
					margin-right: 1px;

					.trombi-perso-container {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						//padding-left: 1px;
						//padding-right: 1px;

						.photo {
							display: block;
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							z-index: 3;

						}

						.mask {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							@include opacity(0);
							transition: opacity 0.4s ease;
							z-index: 4;
						}
						
						.name {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							z-index: 5;


							.name-text {
								@include title-3();
								color: $grey-1;
								text-align: center;
								margin-top: 30px;
								@include opacity(0);
								transition: opacity 0.4s ease, margin-top 0.4s ease;
							}
						}
						

						&:hover {

							.mask {
								@include opacity(1);

							}

							.name {

								.name-text {
									margin-top: 0;
									@include opacity(1);
								}
							}

						}
					}

				}
			}
		}
	}

	#brand-experience {
		.title {
			@include title-2();
			color: #fff;
			text-align: center;
			padding-top: 50px;
			@include opacity(0);
			transition: padding-top 0.6s $animeWorkViewTitle, opacity 0.6s $animeWorkViewTitle;


			&.active {
				padding-top: 0;
				@include opacity(1);
			}
		}

		.text {
			@include text-1();
			color: #fff;
			text-align: center;
			margin-top: 50px;
			padding-top: 50px;
			@include opacity(0);
			transition: padding-top 0.6s $animeWorkViewTitle, opacity 0.6s $animeWorkViewTitle;


			&.active {
				padding-top: 0;
				@include opacity(1);
			}
		}

		#liseret {
			width: 90px;
			height: 5px;
			background-color: #fff;
			margin: 60px auto;
		}

		#list-brands {
			position: relative;
			list-style-type: none;

			li {
				display: block;
				float: left;
				width: 50%;
				margin-bottom: 50px;
				padding-left: 50px;
				@include text-1();
				margin-top: 50px;
				@include opacity(0);
				transition: margin-top 0.6s $animeWorkViewTitle, opacity 0.6s $animeWorkViewTitle;


				.brand-type {
					font-weight: bold;

				}

				.brand-names {
					width: 70%;

				}

				&.active {
					margin-top: 0;
					@include opacity(1);
				}
			}
		}
	}

	#slider {
		margin-top: 70px;
	}

	#services {
		margin-top: 100px;

		#services-toptitle {
			@include text-2();
			color: $orange-1;
			text-align: center;
		}

		#list-services {
			position: relative;
			margin-top: 30px;
			padding-top: 30px;
			padding-bottom: 30px;

			ul {
				position: relative;
				list-style-type: none;
				z-index: 4;

				li {
					text-align: center;
					margin-top: 10px;
					@include title-2();
					text-align: center;
					cursor: pointer;

					&:first-child {
						margin-top: 0;
					}

					span {
						color: $grey-8;
						transition: color 0.3s ease;


						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
	}

	#get-in-touch {
		margin-top: 80px;
	}

}