#contact {
	position: relative;
	height: 100%;
	padding-top: $padding-border-type-1;
	padding-bottom: $padding-border-type-1;
	padding-right: $padding-separation-type-1;

	#contact-inner {
		position: relative;
		height: 100%;
		padding-left: $padding-separation-type-1;

		#logo-contact {
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -12px;
		}


		#contact-illustration {
			position: absolute;
			top: -100%;
			height: 100%;
			right: 10%;
			transition: opacity 0.8s $easeInOutCubic, top 0.8s $easeInOutCubic;
			overflow: hidden;


			#contact-illustration-inner {
				position: absolute;
				top: 80%;
				height: 100%;
				width: 100%;
				transition: opacity 0.8s $easeInOutCubic, top 0.8s $easeInOutCubic;
				background-size: cover!important;
			}

			&.active {
				top: 0;

				#contact-illustration-inner {
					top: 0;
				}
			}
		}
	}

	.contact-text {
		@include title-2();

		.contact-text-line {
			display: block;
			position: relative;
			line-height: 40px;
			//width: 100%;
			//overflow: hidden;


			.text-anime {
				display: block;
				position: absolute;
				top: 40px;
				left: 0;
				width: 100%;
				height: 100%;
				@include opacity(0);
				transition: opacity 0.4s $easeInOutCubic, top 0.4s $easeInOutCubic;
			}


			&.active {
				.text-anime {
					top: 0;
					@include opacity(1);
				}
			}
		}


		&.contact-title {
			color: #fff;
		}

		&.contact-email {
			display: block;
			margin-top: 40px;

			a {
				color: $orange-1;

			}
		}
	}

	#list-spots {
		margin-top: 130px;

		ul {
			list-style-type: none;

			li {
				position: relative;
				display: inline-block;
				width: 270px;
				height: 200px;
				margin-left: 40px;

				.spot-elt {
					position: absolute;
					top: 30px;
					left: 0;
					@include opacity(0);
					transition: opacity 0.6s ease-out, top 0.6s ease-out;


					.city {
						position: relative;
						@include text-6();
						line-height: 20px;
						padding-left: 23px;
						margin-bottom: 30px;

						&::before {
							display: block;
							content: "";
							width: 12px;
							height: 1px;
							position: absolute;
							top: 50%;
							background-color: #fff;
							margin-left: -23px;
						}
					}

					.adress {
						@include text-5();
						color: $grey-4;
					}

					.phone {
						@include text-5();
						color: $orange-1;

						a {
							color: $orange-1;
						}
					}

					&.active {
						@include opacity(1);
						top: 0;
					}
				}


				&:first-child {
					margin-left: 0;
				}
			}
		}
	}

	#socials {
		position: relative;
		margin-top: 100px;

		ul {
			position: absolute;
			top: 20px;
			left: 0;
			width: 100%;
			height: 15px;
			list-style-type: none;
			@include opacity(0);
			transition: opacity 0.4s ease-out, top 0.4s ease-out;

			li {
				position: relative;
				display: inline-block;
				margin-left: 45px;
				width: 15px;
				height: 15px;

				&:first-child {
					margin-left: 0;
				}

				a {
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					z-index: 3;
				}



				.contact-canvas {
					display: block;
					position: absolute;
					top: -22.5px;
					margin-left: -22.5px;
					z-index: 2;
				}
			}
		}


		&.active {
			ul {
				top: 0;
				@include opacity(1);
			}
		}
	}

}