@media (max-width: 768px) {

	#contact {
		position: relative;
		height: 100%;
		padding: 0;
		padding-top: 115px;

		#contact-mobile {
			padding: 0 25px;

			.contact-text {
				@include title-3();

				&.contact-email {
					font-size: 20px;

				}
			}

			#list-spots {
				margin-top: 60px;

				ul {

					li {
						display: block;
						width: 100%;
						height: auto;
						margin-left: 0;
						margin-top: 40px;


						&:first-child {
							margin-top: 0;
						}

						.spot-elt {
							position: relative;
							top: 0;
							left: 0;
							@include opacity(1);
							transition: none;
						}

					}
				}
			}

			#socials {
				position: relative;
				margin-top: 60px;
				margin-bottom: 60px;

				ul {
					position: relative;
					top: 0;
					left: 0;
					width: 100%;
					@include opacity(1);
					transition: none;
					

					li {
						position: relative;
						display: inline-block;
						margin-left: 40px;

						&:first-child {
							margin-left: 0;
						}

						a {
							position: absolute;
							display: block;
							top: 0;
							left: 0;
							z-index: 3;
						}

						.contact-canvas {
							display: none;

						}
					}
				}
			}

		}

		footer {
			margin-top: 60px;
			border-top: 1px solid $grey-8;
		}


	}


}