#home-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;;


	#home {
		position: relative;
		overflow: hidden;

		#works-urls {
			display: none;
		}

		#home-video {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 50;
			background-color: $grey-1;

			#home-video-close {
				position: absolute;
				top: 15%;
				left: 15%;
				margin-top: -30px;
				@include text-1();
				color: #fff;
				@include opacity(1);
				cursor: pointer;
				transition: opacity 0.3s;

				&:hover {
					@include opacity(0.6);
				}
			}


			#home-video-player {
				position: absolute;
				top: 15%;
				left: 15%;
				width: 70%;
				height: 70%;
			}
		}

		#home-content {
			position: relative;
			height: 100%;

			.home-content-side {
				float: left;
				width: 50%;
				height: 100%;

				&#home-content-left {
					padding-right: $padding-separation-type-1;

					#media-area {
						position: relative;
						height: 100%;
						background-color: $grey-2;
						overflow: hidden;

						.media {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							overflow: hidden;
							z-index: 2;


							.media-inner {
								position: absolute;
								top: 50%;
								left: 0;
								width: 100%;
								height: 100%;
								@include opacity(0);
								background-size: cover!important;
								transition: opacity 1s $easeInOutCubic, top 0.5s $zoomHomeMedia, left 0.5s $zoomHomeMedia, width 0.5s $zoomHomeMedia, height 0.5s $zoomHomeMedia;
							}

							&.active {
								z-index: 3;
								
								.media-inner {
									@include opacity(1);
									top: 0;
									//transition: opacity 0.9s $easeInOutCubic, top 0.5s $easeInOutCubic;
								}
							}

							&.zoomable:hover, &.zoomable.zoom {
								.media-inner {
									top: -3%;
									left: -3%;
									width: 106%;
									height: 106%;
									transition: top 1.3s $zoomHomeMedia, left 1.3s $zoomHomeMedia, width 1.3s $zoomHomeMedia, height 1.3s $zoomHomeMedia;							
								}
							}
						}

						#media-transition {
							position: absolute;
							top: 100%;
							left: 0;
							width: 100%;
							height: 60%;
							z-index: 6;
							transition: none;

							img {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
							}

							&.active {
								top: -400%;
								height: 400%;
								transition: top 1.3s $animeTransitionHome, height 1.3s $animeTransitionHome;
							}
						}

						#view-project-link {
							position: absolute;
							right: 0;
							bottom: -74px;
							background-color: $grey-1;
							width: 208px;
							height: 74px;
							text-align: center;
							@include opacity(0);
							z-index: 7;
							transition: opacity 0.8s $easeInOutCubic, bottom 1.2s $easeInOutQuart;


							a {
								position: relative;
								display: inline-block;
								text-align: center;
								@include text-1();
								color: #fff;
								line-height: 15px;
								padding-top: 18px;
								padding-bottom: 11px;
								transition: padding 0.7s ease, color 0.3s;

								#liseret {
									position: absolute;
									bottom: 0px;
									left: -40px;
									width: 0;
									height: 2px;
									background-color: #fff;
									transition: width 0.7s ease-out, left 0.7s ease-out, background-color 0.3s;
								}
							}


							&.active {
								bottom: 0;
								@include opacity(1);
								transition: opacity 0.8s $easeInOutCubic, bottom 1.2s $easeInOutQuart;


								a {
									padding-top: 28px;

									#liseret {
										left: 0;
										width: 100%;

									}

									&:hover {
										color: $grey-3;
										
										#liseret {
											background-color: $grey-3;
										}
									}
								}
							}
						}

					}
				}

				&#home-content-right {
					position: relative;
					height: 100%;

					#top {
						position: relative;

						#logo {
							float: left;
						}


						#mailto {
							position: relative;
							display: block;
							float: right;
							margin-right: 50px;
							z-index: 5;
							@include text-1();

							#liseret {
								position: absolute;
								bottom: -9px;
								left: 0;
								right: auto;
								width: 0;
								height: 2px;
								background-color: #fff;
							}

						}
					}


					#texts {
						margin-top: 0px;

						#toptitle {
							ul {
								li {
									display: none;
									@include text-2();
									color: $orange-1;
									margin-bottom: 35px;
									@include opacity(0);
									transition: opacity 0.5s;
								
									&.active {
										@include opacity(1);
									}
								}
							}
						}

						#title {
							ul {
								li {
									display: none;
									@include title-1();
									color: #fff;

									&.active {
										display: block;
									}

									p {
										display: block;
										position: relative;
										height: 70px;
										width: 100%;
										overflow: hidden;
										top: 50px;
										transition: top 0.56s $animeTransitionText;


										&.brand {
											color: $orange-1;
										}

										.text-anime {
											display: block;
											position: absolute;
											top: 40px;
											left: 0;
											width: 100%;
											height: 100%;
											@include opacity(0);
											transition: opacity 0.56s $animeTransitionText, top 0.56s $animeTransitionText;
										}
										
										&.active {
											top: 0;

											.text-anime {
												top: 0;
												@include opacity(1);
											}
										}

										&.inactive-top {
											top: -10px;

											.text-anime {
												top: -40px;
												@include opacity(0);
											}
										}
									}
								}
							}
						}

						#description {
							margin-top: 30px;
							width: 60%;

							ul {
								li {
									display: none;
									@include text-1();
									color: $grey-4;
									@include opacity(0);
									transition: opacity 0.7s;


									&.active {
										@include opacity(1);
									}
								}
							}
						}

						&.active {
							margin-top: -50px;
						}
					}



					ul#socials {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;

						li {
							position: relative;
							display: inline-block;
							margin-left: 38px;
							width: 15px;
							height: 15px;
							@include opacity(0);
							transition: opacity 0.4s ease;

							&:first-child {
								margin-left: 0;
							}


							a {
								position: absolute;
								top: 10px;
								left: 0;
								display: block;
								width: 100%;
								height: 100%;
								transition: top 0.4s ease;

							}

							&.active {
								@include opacity(1);

								a {
									top: 0px;
								}
							}


							&.inactive-top {
								@include opacity(0);

								a {
									top: -10px;
								}
							}
						}
					}

					ul#work-num {
						position: absolute;
						bottom: 23px;
						left: 0;
						width: 100%;

						li {
							position: relative;
							display: inline-block;
							margin-left: 30px;
							width: 30px;
							height: 12px;
							@include opacity(0);
							cursor: pointer;
							transition: opacity 0.4s ease;

							&:first-child {
								margin-left: 0;
							}		


							span {
								position: absolute;
								top: 0;
								left: 0;
								display: block;
								width: 100%;
								height: 100%;
								top: 30px;
								@include text-3();
								color: $grey-5;
								transition: top 0.4s ease, color 0.5s;

							}

							&.active {
								@include opacity(1);

								span {
									top: 0px;
								}
							}

							&.select, &:hover {
								span {
									color: $orange-1;
								}
							}
						}
					}

					#home-nav {
						position: absolute;
						top: 0;
						right: 0;
						width: $padding-separation-type-1;
						height: 100%;


						#arrows {
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;

							.nav-arrow {
								position: relative;
								display: block;
								margin: 0 auto;
								width: 13px;
								height: 13px;
								cursor: pointer;
								@include opacity(0.4);
								@include transition(opacity 0.3s);

								&:hover {
									@include opacity(1);
								}

								.nav-arrow-child {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
								}

							}

							#liseret {
								width: 31px;
								height: 1px;
								background-color: #fff;
								margin: 30px auto;

							}
						}
					}

				}
			}

			&.init {

				#home-content-right {
					#texts {
						@include opacity(0);
					}

					ul#socials {
						li {
							@include opacity(0);

						}
					}
				}
			}
		}
	}
}


/* Keyframes */
@include keyframes(social-appear) {
  0% { 
  	opacity: 0;
  }
  90% {
  	opacity: 1;
  }
}