@media (max-width: 768px) {
	
	#home {

		#home-video {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 50;
			background-color: $grey-1;


			#home-video-close {
				position: absolute;
				top: 19%;
				left: 5%;
				margin-top: -30px;
				@include text-1();
				color: #fff;
				@include opacity(1);
				cursor: pointer;
				transition: opacity 0.3s;

				&:hover {
					@include opacity(0.6);
				}
			}

			#home-video-player {
				position: absolute;
				top: 19%;
				left: 0%;
				width: 100%;
				height: 70%;
			}
		}

		#home-content-mobile {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;

			.home-mobile-elt {
				position: absolute;
				top: -100%;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				z-index: 1;
				transition: top 0.6s $easeInOutCubic;

				.home-mobile-elt-background {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-size: cover!important;

					img {
						min-height: 10px;
						min-width: 8px;

					}
				}

				.home-mobile-elt-content {
					position: absolute;
					bottom: 100px;
					left: 0;
					width: 100%;
					padding: 0 25px;


					.link, .video-play-btn-mobile {
						position: relative;
						display: inline-block;
						@include text-1();
						color: #fff;
						margin-bottom: 30px;

						.liseret {
							position: absolute;
							//bottom: 5px;
							height: 2px;
							width: 100%;
							background-color: #fff;
						}
					}


					.toptitle {
						@include text-2();
						color: $orange-1;
						margin-bottom: 20px;
					}

					.title-band {
						@include title-4();
						color: $orange-1;
					}

					.title {
						@include title-4();
						color: #fff;
					}

					.text {
						@include text-1();
						color: $grey-4;
						margin-top: 10px;
					}
				}

				&.active {
					top: 0;
				}
			}

			#home-mobile-bottom {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 50px;
				border-width: 30px;
				z-index: 10;

				#socials-mobile {
					position: absolute;
					top: 30px;
					left: 25px;
					@include opacity(0);
					transition: top 0.4s $easeInOutCubic, opacity 0.4s $easeInOutCubic;

					li {
						display: inline-block;
						margin-left: 40px;
						width: 15px;

						&:first-child {
							margin-left: 0;
						}

						a {
							display: inline-block;

						}
					}


					&.active {
						top: 0;
						@include opacity(1);
					}
				}

				#works-list-mobile {
					position: absolute;
					top: 25px;
					left: 25px;
					@include opacity(0);
					transition: top 0.4s $easeInOutCubic, opacity 0.4s $easeInOutCubic;

					li {
						display: inline-block;
						margin-left: 20px;
						@include text-3();
						color: $grey-5;
						transition: color 0.3s;

						&:first-child {
							margin-left: 0;
						}

						&.active {
							color: $orange-1;
						}

					}

					&.active {
						top: 0;
						@include opacity(1);
					}
				}


				#home-mobile-next {
					position: absolute;
					top: 0;
					right: 25px;

				}
			}
		}
	}

}