@media (max-width: 768px) {
	#news-index {
		padding: 0 0;
		padding-top: 80px;

		#list-news, #result-news {
			list-style-type: none;
			position: relative;

			.news {
				position: relative;
				width: 100%;
				height: auto;
				

				.news-wrap {
					position: relative;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					padding-top: 0;
					padding-bottom: 0;
					@include opacity(1);
					transition: none;


					.news-left {
						position: relative;
						float: none;
						padding: 50px 25px;
						width: 100%;
					}

					.news-right {
						position: absolute;
						float: none;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;

						.news-cover {
							position: relative;
							width: 100%;
							height: 100%;
							background-size: cover!important;
							
						}
					}

					.mask {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(0, 0, 0, 0.6);

					}
				}
			}
		}



		#pagination {
			padding-top: 40px;
			padding-bottom: 50px;
			border-bottom: 1px solid $grey-8;

			.prev-next-link {
				display: block;
				@include text-8();
				font-size: 8px;
				color: #fff;
				height: 13px;
				line-height: 13px;
				@include opacity(0.5);
				transition: opacity 0.3s;

				&#prev-link {
					float: left;
					text-align: left;
					margin-left: 13px;


					span {
						float: left;
						margin-right: 10px;
					}
				}

				&#next-link {
					float: right;
					text-align: right;
					margin-right: 13px;

					span {
						float: right;
						margin-left: 10px;
					}
				}

				&:hover {
					@include opacity(1);
				}
			}
		}
	}

}