#news-view {
	position: relative;

	#header {
		position: relative;
		width: 100%;
		height: 100%;

		#background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 70%;
			@include opacity(0);
			background-size: cover!important;
			transition: opacity 0.5s;

			&.active {
				@include opacity(1);
			}
		}

		#header-content {
			position: absolute;
			bottom: 48%;
			padding-left: $padding-separation-type-1;
			width: 100%;

			#header-toptitle {
				@include text-2();
				color: $grey-4;
				
				span#category {
					color: $orange-1
				}

				span#date {
					
				}
			}

			#header-title {
				@include title-1();
				color: #fff;
				margin-top: 20px;
			}
		}	
	}

	#news-content {
		@include opacity(0);
		margin-top: -90px;
		transition: opacity 0.5s $easeInOutCubic, margin-top 0.5s $easeInOutCubic;

		&.active {
			@include opacity(1);
			margin-top: -130px;
		}

		#news-topinfos {
			@include text-8();
			color: $grey-5;

			#author {
				color: $orange-1;
			}
		}

		.news-text {
			@include text-7();
			color: $grey-4;

			p {
				margin-top: 40px;
			}

			.inside-link {

				p {
					margin-top: 10px;

					&:first-child {
						margin-top: 0;

						
					}
				}
			}
			
		}

		#slider {
			margin: 70px 0;
		}

		.shares {
			text-align: center;
			margin: 60px auto;

			.shares-wrap {
				display: inline-block;

				a {
					display: inline-block;
					float: left;
					text-align: center;
					width: 109px;
					height: 42px;
					padding-top: 12px;
					transition: background-color 0.3s;

					&.share-facebook {
						background-color: #3a579d;

						&:hover {
							background-color: #2f4885;
						}
					}

					&.share-twitter {
						background-color: #08acee;

						&:hover {
							background-color: #068bc1;
						}
					}

					&.share-googleplus {
						background-color: #dd4c39;

						&:hover {
							background-color: #b13b2c;
						}
					}

					&.share-linkedin {
						background-color: #007bb6;

						&:hover {
							background-color: #026595;
						}
					}

					span.icon-share {
						display: inline-block;
						margin-right: 9px;
					}

					span.text-share {
						display: inline-block;
					}
				}
			}
		}

		.inside-link {
			position: relative;
			padding: 40px;
			width: 114%;
			margin: 50px auto;
			margin-left: -7%;
			border: 3px solid #4e4e4e;
			background-color: #282828;


			.inside-link-left {
				padding-right: 300px;
				color: $grey-4;
				font-weight: bold;
			}

			.inside-link-right {
				position: absolute;
				top: 0;
				right: 0;
				width: 300px;
				height: 100%;

				.inside-link-btn {
					display: block;
					margin: 0 auto;
					width: 187px;
					height: 62px;
					line-height: 62px;
					text-align: center;
					@include border-radius(31px);
					background-color: #f68f31;
					transition: background-color 0.3s;

					&:hover {
						background-color: #d37016;
					}
				}
			}
		}
	}

	#comments {
		width: 90%;
		margin: 50px auto;
		padding: 50px;
		background-color: $grey-2;
		

	}

	#other-news {
		display: flex;
		flex-wrap: nowrap;
		padding-left: 25px;
		padding-right: 25px;


		.small-news {
			width: 50%;
			@include aspect-ratio(100, 68.1);
			background-size: cover!important;

			&:first-child {
				margin-right: 25px;
			}

			.mask {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.6);
				transition: background-color 0.3s;

			}

			.small-news-text {
				position: absolute;
				bottom: 14.5%;
				left: 10%;
				width: 60%;
				@include opacity(1);
				transition: bottom 0.3s $easeInOutCubic, opacity 0.3s $easeInOutCubic;


				.infos {
					@include text-8();
					color: $grey-4;

					.category {
						color: $orange-1;
					}
				}

				.title {
					@include title-3();
					color: #fff;
					margin-top: 15px;
					line-height: 45px;
				}
			}

			&:hover {

				.mask {
					background-color: rgba(0, 0, 0, 0);
				}

				.small-news-text {
					@include opacity(0);
					bottom: 5%;
				}
			}
		}
	}

	#join-team {
		margin-top: 25px;
		
	}
}


.popup-newsletter {
	display: block;
	position: fixed;
	bottom: -142px;
	left: 0;
	width: 100%;
	height: 142px;
	border-top: 1px solid $grey-6;
	background-color: rgba(34, 34, 34, 0.88);
	z-index: 49;
	padding: 46px 0;
	margin-left: 100px;
	padding-right: 100px;
	transition: bottom 0.7s $easeInOutCubic;


	.popup-close-btn {
		position: absolute;
		top: 50%;
		left: -22px;
		margin-top: -22px;
		@include opacity(1);
		cursor: pointer;
		transition: opacity 0.3s;

		&:hover {
			@include opacity(0.8);
		}
	}

	.popup-content {
		.popup-text {
			float: left;
			@include text-11();
			color: #fff;
			line-height: 50px;
			width: 40%;
			text-align: center;
		}

		.popup-form {
			float: right;
			width: 60%;

			input {
				@include text-1();
				color: #fff;
				line-height: 50px;
				border-bottom: 2px solid #bdbdbd;
				width: 28%;
				background-color: transparent;
				margin-left: 5%;


				&:first-child {
					margin-left: 0;
				}


				&.btn-subscribe {
					border: 1px solid #fff;
					border-radius: 25px;
					background-color: #fff;
					color: $grey-1;
					@include text-12();
					transition: background-color 0.3s, color 0.3s;
					cursor: pointer;
					text-align: center;


					&:hover {
						background-color: $grey-1;
						color: #fff;
					}
				}

			}
		}
	}


	.popup-response {
		display: none;
		@include text-1();
		color: #fff;
		font-weight: bold;
		text-align: center;
		line-height: 50px;
	}

	&.active {
		bottom: 0;
	}
}
