#news-index {
	padding: 0 200px;
	//overflow: hidden;

	#news-logo {
		position: absolute;
		top: 50%;
		right: 100px;
		margin-top: -12px;
	}

	#news-scroll-down {
		position: absolute;
		bottom: 30px;
		right: 100px;
		@include opacity(0.4);
		transition: opacity 0.3s;
		cursor: pointer;
		

		&:hover {
			@include opacity(1);
		}
	}


	#news-nav {
		position: relative;
		width: 100%;
		height: auto;
		padding: 40px 0;

		#news-nav-liseret {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 1px;
			background-color: #fff;
			transition: width 1s $easeInOutCubic;

			&.active {
				width: 100%;
			}
		}

		.nav-anime {
			top: 15px;
			@include opacity(0);
			transition: opacity 0.3s $easeInOutCubic, top 0.3s $easeInOutCubic;

			&.active {
				top: 0;
				@include opacity(1);
			}
		}


		#categories {
			list-style-type: none;
			height: 21px;

			li {
				position: relative;
				display: inline-block;
				margin-left: 40px;
				height: 21px;
				line-height: 21px;

				&:first-child {
					margin-left: 0;

				}

				.liseret {
					position: absolute;
					bottom: -4px;
					left: 50%;
					height: 2px;
					width: 0;
					background-color: #fff;
					transition: width 0.3s $easeInOutCubic, background-color 0.3s $easeInOutCubic, left 0.3s $easeInOutCubic;
				}

				a {
					@include text-8();


				}


				&.main-active, &:hover {
					.liseret {
						left: 0;
						width: 100%;
						background-color: $orange-1;
					}


					a {
						color: $orange-1;
						transition: color 0.4s;

					}
				}
			}
		}

		#btn-search {
			position: absolute;
			top: 40px;
			right: 0;
			cursor: pointer;
			transition: opacity 0.3s;

			&:hover {
				@include opacity(0.4);
			}
		}
	}

	#result-news {
		//display: none;
	
	}

	#list-news, #result-news {
		list-style-type: none;
		position: relative;
		
		.news-message {
			display: block;
			padding: 150px 0;
			@include text-1();
			font-weight: bold;
			text-align: center;
		}
		
		.news {
			position: relative;
			width: 100%;
			height: 490px;
			
			.news-wrap {
				position: absolute;
				top: 50px;
				left: 0;
				width: 100%;
				height: 100%;
				padding-top: 55px;
				padding-bottom: 80px;
				border-bottom: 1px solid $grey-8;
				@include opacity(0);
				transition: opacity 0.8s $animeWorkViewTitle, top 0.8s $animeWorkViewTitle;

				.news-left {
					float: left;
					padding-top: 60px;
					padding-right: 17%;
					width: 53%;


					.news-toptitle {
						@include text-8();
						color: $grey-3;

						span.category {
							color: $orange-1;

						}

					}

					.news-title {
						@include title-3();
						color: #fff;
						margin-top: 12px;
					}

					.news-text {
						@include text-1();
						color: $grey-4;
						margin-top: 30px;
					}

					.news-btn-read {
						position: relative;
						display: inline-block;
						margin-top: 25px;
						padding-bottom: 11px;
						@include text-9();
						color: #fff;
						transition: color 0.3s $easeInOutCubic;

						.liseret {
							position: absolute;
							bottom: 0;
							height: 2px;
							transition: width 0.3s $easeInOutCubic;

							&.liseret-1 {
								right: 0;
								width: 100%;
								background-color: #fff;
								transition-delay: 0.1s;

							}

							&.liseret-2 {
								left: 0;
								width: 0;
								background-color: $orange-1;
								transition-delay: 0s;

							}
						}

						&:hover {
							color: $orange-1;

							.liseret {

								&.liseret-1 {
									width: 0;
									transition-delay: 0s;
								}

								&.liseret-2 {
									width: 100%;
									transition-delay: 0.1s;
								}
							}
						}
					}
				}

				.news-right {
					position: relative;
					float: right;
					width: 47%;
					height: 100%;

					.news-cover {
						position: relative;
						width: 100%;
						height: 100%;
						background-size: cover!important;
						
					}
				}
			}

			&.active {
				.news-wrap {
					top: 0;
					@include opacity(1);
				}
			}
		}
	}

	#pagination {
		padding-top: 60px;
		padding-bottom: 50px;
		border-bottom: 1px solid $grey-8;


		.prev-next-link {
			display: block;
			@include text-8();
			color: #fff;
			height: 13px;
			line-height: 13px;
			@include opacity(0.5);
			transition: opacity 0.3s;

			&#prev-link {
				float: left;
				text-align: left;
				span {
					float: left;
					margin-right: 10px;
				}
			}

			&#next-link {
				float: right;
				text-align: right;


				span {
					float: right;
					margin-left: 10px;
				}
			}

			&:hover {
				@include opacity(1);
			}
		}

		#pages {
			margin: 0 auto;
			margin-top: -11px;

			ul {
				list-style-type: none;
				text-align: center;

				li {
					display: inline-block;
					margin-left: 20px;

					a {
						display: block;
						width: 33px;
						height: 33px;
						line-height: 33px;
						text-align: center;
						color: $grey-5;
						border: 1px solid $grey-1;
						transition: color 0.3s;
						@include text-3();
						letter-spacing: 0;
					}

					&.active {
						a {
							color: $orange-1;
							border: 1px solid $orange-1;
						}
					}

					&:hover {
						a {
							color: $orange-1;

						}
					}
				}
			}
		}
	}

	#btn-close-search {
		position: fixed;
		top: 45px;
		right: 215px;
		width: 0;
		height: 0;
		z-index: 11;
		@include opacity(0);
		transition: all 1s $easeInOutCubic;
		cursor: pointer;

		.trait {
			position: absolute;
			width: 140%;
			height: 1px;
			background-color: #fff;
			transition: all 1s $easeInOutCubic;

			&#trait-1 {
				top: 0;
				left: 0;
				@include rotate(45deg);
			}

			&#trait-2 {
				bottom: 0;
				left: 0;
				@include rotate(-45deg);
			}
		}

		&.active {
			width: 30px;
			height: 30px;
			top: 35;
			right: 210px;
			@include opacity(1);
			transform: rotate(360deg);

			.trait {
				&#trait-1 {
					top: 15px;
				}

				&#trait-2 {
					bottom: 14px;
				}
			}
		}

	}
	

	#search {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		overflow-y: hidden;
		background-color: $grey-1;
		z-index: 10;
		padding-left: 200px;
		padding-right: 200px;
		padding-top: 0;
		transition: height 1s $easeInOutCubic;

		#search-top {
			position: relative;
			padding-top: 50px;
			padding-bottom: 20px;

			#text-explain {
				@include text-1();
				color: $grey-5;
			}

			#search-input {
				@include title-1();
				color: #fff;
				margin-top: 10px;
				background-color: $grey-1;
				border: none;
				width: 100%;
				line-height: 100px;


				&::placeholder {
					color: $grey-2;
				}
			}

			.hiddenSubmit {
				display: none;

			}

			#liseret {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 0;
				height: 1px;
				background-color: #fff;
				transition: width 0.5s $easeInOutCubic;
			}
		}

		&.active {
			height: 100%;
		}

		&.searched {
			#search-top {
				#liseret {
					width: 100%;
				}
			}

			#result-news {

			}
		}
	}
}
