@media (max-width: 768px) {

	#news-view {
		padding-top: 80px;

		#header {
			position: relative;
			width: 100%;
			@include aspect-ratio(100, 120);

			#background {
				height: 100%;
				@include opacity(1);
				background-size: cover!important;
				transition: none;
			}

			#header-content {
				position: absolute;
				bottom: 50px;
				padding-left: 25px;
				width: 100%;

				#header-toptitle {
					@include text-8();
					color: $grey-4;
					
					span#category {
						color: $orange-1
					}

					span#date {
						
					}
				}


				#header-title {
					@include title-2();
					color: #fff;
					margin-top: 20px;
				}
			}
		}

		#news-content {
			@include opacity(1);
			margin-top: 60px;
			transition: none;

			&.active {
				@include opacity(1);
				margin-top: 50px;
			}

			#news-topinfos {
				@include text-8();
				line-height: 15px;

				color: $grey-5;

				#author {
					color: $orange-1;
				}
			}

			.news-text {
				@include text-9();
				letter-spacing: 0;
				line-height: 30px;
				color: $grey-4;


				p {
					margin-top: 40px;
				}
			}

			#slider {
				margin: 50px 0;
			}


			.shares {
				text-align: center;
				margin: 40px auto;

				.shares-wrap {
					position: relative;
					display: inline-block;
					width: 90%;

					a {
						display: inline-block;
						float: left;
						text-align: center;
						width: 25%;
						height: 42px;
						padding-top: 12px;
						transition: background-color 0.3s;

						&.share-facebook {
							background-color: #3a579d;

							&:hover {
								background-color: #2f4885;
							}
						}

						&.share-twitter {
							background-color: #08acee;

							&:hover {
								background-color: #068bc1;
							}
						}

						&.share-googleplus {
							background-color: #dd4c39;

							&:hover {
								background-color: #b13b2c;
							}
						}

						&.share-linkedin {
							background-color: #007bb6;

							&:hover {
								background-color: #026595;
							}
						}

						span.icon-share {
							display: inline-block;
							margin-right: 2px;
						}

						span.text-share {
							display: inline-block;
							line-height: 17px;

						}
					}
				}
			}

			.inside-link {
				position: relative;
				padding: 20px 15px;
				width: 96%;
				margin: 40px auto;
				border: 3px solid #4e4e4e;
				background-color: #282828;

				.inside-link-left {
					display: block;
					position: relative;
					padding-right: 0;
					color: $grey-4;
					font-weight: bold;
					text-align: center;

				}

				.inside-link-right {
					position: relative;
					top: 0;
					right: 0;
					width: 100%;
					height: auto;
					margin-top: 20px;

					.inside-link-btn {
						display: block;
						margin: 0 auto;
						width: 150px;
						height: 40px;
						line-height: 40px;
						text-align: center;
						@include border-radius(20px);
						background-color: #f68f31;
						transition: background-color 0.3s;


						&:hover {
							background-color: #d37016;
						}
					}
				}
			}
		}

		#other-news {
			display: block;
			padding-left: 0;
			padding-right: 0;


			.small-news {
				display: block;
				width: 100%;
				@include aspect-ratio(100, 100);
				background-size: cover!important;

				&:first-child {
					margin-right: 0;
				}

				.mask {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.6);
					transition: background-color 0.3s;
				}

				.small-news-text {
					position: absolute;
					bottom: 25px;
					left: 25px;
					padding-right: 0;
					width: 90%;
					@include opacity(1);
					transition: none;


					.infos {
						@include text-8();
						color: $grey-4;

						.category {
							color: $orange-1;
						}
					}

					.title {
						@include title-3();
						color: #fff;
						margin-top: 15px;
						line-height: 30px;
					}

					.description {
						@include text-1();
						color: $grey-4;
						margin-top: 15px;

					}

					.news-btn-read {
						position: relative;
						display: inline-block;
						margin-top: 25px;
						padding-bottom: 11px;
						@include text-9();
						color: #fff;
						transition: none;

						.liseret {
							position: absolute;
							bottom: 0;
							height: 2px;
							transition: none;

							&.liseret-1 {
								right: 0;
								width: 100%;
								background-color: #fff;
								transition-delay: 0;

							}
						}
					}
				}

				&:hover {

					.mask {
						background-color: rgba(0, 0, 0, 0.6);
					}

					.small-news-text {
						@include opacity(1);
						bottom: 25px;
					}
				}
			}
		}
	}

	.popup-newsletter {
		display: block;
		position: fixed;
		bottom: -422px;
		left: 0;
		width: 100%;
		height: 400px;
		border-top: 1px solid $grey-6;
		background-color: rgba(34, 34, 34, 0.88);
		z-index: 49;
		padding: 46px 0;
		margin-left: 0;
		padding-right: 0;
		transition: bottom 0.7s $easeInOutCubic;

		.popup-close-btn {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -22px;
		}

		.popup-content {
			.popup-text {
				float: none;
				@include text-11();
				color: #fff;
				line-height: 30px;
				width: 90%;
				text-align: center;
			}

			.popup-form {
				float: none;
				width: 90%;
				margin: 0 auto;

				input {
					@include text-1();
					color: #fff;
					line-height: 50px;
					border-bottom: 2px solid #bdbdbd;
					width: 100%;
					background-color: transparent;
					margin-left: 0;
					margin-top: 20px;

					&:first-child {
						margin-left: 0;
					}

					&.btn-subscribe {
						border: 1px solid #fff;
						border-radius: 25px;
						background-color: #fff;
						color: $grey-1;
						@include text-12();
						transition: background-color 0.3s, color 0.3s;
						cursor: pointer;
						text-align: center;
						margin-top: 50px;

						&:hover {
							background-color: $grey-1;
							color: #fff;
						}
					}

				}
			}
		}


		.popup-response {
			display: none;
			@include text-1();
			color: #fff;
			font-weight: bold;
			text-align: center;
			line-height: 50px;
		}

		&.active {
			bottom: 0;
		}
	}

}