#work-view {

	#header {
		position: relative;
		height: 100%;
		padding: $padding-border-type-1 $padding-separation-type-1;

		#header-left {
			position: relative;
			float: left;
			height: 100%;
			width: 50%;

			h1 {
				@include title-1();
				color: #fff;
			}

			.work-type {
				@include text-1();
				margin-top: 20px;
				color: $orange-1;
			}


			#go-down {
				position: absolute;
				bottom: 0;
				left: 0;
				@include opacity(0);
				cursor: pointer;
				transition: opacity 0.4s ease, bottom 0.3s;

				&.active {
					@include opacity(1);
				}
				

				&:hover {
					bottom: -5px;
				}
			}
		}


		#header-right {
			position: relative;
			float: right;
			width: 50%;
			height: 100%;
			padding-left: $padding-separation-type-1;

			#header-right-inner {
				position: relative;
				height: 100%;

		
				#cover {
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 83%;
					overflow: hidden;
					transition: height 0.3s ease;

					#cover-inner {
						position: absolute;
						width: 100%;
						height: 118%;
						background-size: cover!important;
					}

					&.active {
						height: 100%;
					}
				}
			}
		}
	}

	.work-view-section {
		margin-top: $padding-separation-type-1;
	}

	#text-1 {
		
	}

	#parallax {
		@include aspect-ratio(100, 34);
	}


	.text-section {

		.title {
			float: left;
			width: 30%;

			span {
				@include text-1();
				padding-bottom: 8px;
				border-bottom: 3px solid #fff;
			}
		}

		.text {
			float: left;
			width: 70%;

			.text-inner {
				width: 70%;
				@include text-1();
				color: $grey-4;
				line-height: 30px;
			}
		}
	}

	#text-2 {
		#text-2-inner {
			padding: 0 $padding-separation-type-1;


			.title {
				@include title-3();
				text-align: center;
			}

			.text {
				margin-top: 75px;
				@include text-1();
				color: $grey-4;
				line-height: 30px;
				text-align: justify;
				columns: 2;
				column-gap: 50px;
			}
		}
	}

	#video {
		position: relative;
		width: 100%;
		@include aspect-ratio(100, 54.8);
		background-size: cover!important;

		.video-cover {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
		}

		.video-iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;

		}
	}
}