@media (max-width: 768px) {

	#work-view {
		margin-top: 80px;
		margin-bottom: 0;

		#header-mobile {
			position: relative;
			width: 100%;
			@include aspect-ratio(100, 94)

			.background {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover!important;
			}

			.mask {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.6);
			}

			.texts {
				position: absolute;
				bottom: 50px;
				left: 25px;
				padding-right: 25px;


				.title {
					@include text-4();
					color: #fff;
				}

				.type {
					@include text-1();
					color: #fff;
					margin-top: 10px;
				}
			}			
		}

		.work-view-section {
			margin-top: 50px;
		}

		.text-section {

			.title {
				float: none;
				width: 100%;
			}

			.text {
				float: none;
				width: 100%;
				margin-top: 30px;

				.text-inner {
					width: 100%;
				}
			}
		}


		#test {
			display: block;
			position: relative;
			width: 96%;
			margin: 0 auto;
			margin-top: 30px;
			@include aspect-ratio(100, 35);
			background-size: cover!important;
		}

		#text-2 {
			#text-2-inner {
				padding: 0;

				.title {
					@include title-3();
					font-size: 20px;
					text-align: center;
				}

				.text {
					margin-top: 30px;
					@include text-1();
					color: $grey-4;
					line-height: 30px;
					text-align: left;
					columns: 1;
					column-gap: 0;

				}
			}
		}

		footer {
			margin-top: 60px;
			border-top: 1px solid $grey-8;
		}
	}
}