@media (max-width: 768px) {

	#work-index {
		position: relative;
		margin-top: 80px;


		#works-list-mobile {

			.work-elt-mobile {
				display: block;
				position: relative;
				width: 100%;
				@include aspect-ratio(100, 108);

				.background {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-size: cover!important;
				}

				.mask {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.6);
				}

				.texts-top {
					position: absolute;
					top: 25px;
					left: 25px;	

					.title {
						@include text-4();
						color: #fff;
					}

					.type {
						@include text-5();
						color: $orange-1;
					}
				}

				.view-project {
					position: absolute;
					bottom: 25px;
					left: 25px;
					@include text-1();
					line-height: 32px;
					color: #fff;
					border-bottom: 2px solid #fff;
				}
			}
		}
	}

}