#work-index {
	overflow: hidden;

	#work-index-list-urls {
		display: none;
	}

	#work-index-inner {
		position: relative;
		width: 100%;
		height: 100%;
		padding: $padding-border-type-1 $padding-separation-type-1;

		.work-index-side {
			position: relative;
			height: 100%;
			width: 50%;

			.work-index-side-inner {
				position: relative;
				width: 100%;
				height: 100%;

				#work-index-title {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;

					.title-elt {
						position: absolute;
						top: 50px;
						left: 0;
						width: 100%;
						@include opacity(0);
						transition: all 0s;

						h1 {
							@include text-4();
							color: #fff;
						}

						.work-type {
							@include text-1();
							color: $orange-1;
							margin-top: 20px;
							@include opacity(0);
							transition: all 0s;
						}

						&.active {
							top: 0;
							@include opacity(1);
							transition: all $speedTitle $easeInOutQuart;
						
							.work-type {
								margin-top: 10px;
								@include opacity(1);
								transition: all $speedTitle $easeInOutQuart 0.2s;
							}
						}


						&.inactive-top {
							top: -50px;
							@include opacity(0);
							transition: all $speedTitle $easeInOutQuart;

							.work-type {
								margin-top: 20px;
								@include opacity(1);
								transition: all $speedTitle $easeInOutQuart 0.2s;
							}

						}
					}
				}


				.cover {
					position: absolute;
					width: 100%;
					height: 83%;
					overflow: hidden;

					.cover-inner {
						position: absolute;
						width: 100%;
						height: 118%;
						background-size: cover!important;
					}
				}
			}

			&#work-index-left {
				float: left;
				padding-right: $padding-separation-type-1;

				.cover {
					bottom: -100%;
					left: 0;
					transition: bottom 0s;

					.cover-inner {
						bottom: 100%;
						left: 0;
						transition: bottom 0s;
					}

					&.active {
						bottom: 0;
						left: 0;
						transition: bottom $speedCover $easeInOutQuart;

						.cover-inner {
							bottom: 0;
							left: 0;
							transition: bottom $speedCover $easeInOutQuart, left 0.5s $zoomHomeMedia, width 0.5s $zoomHomeMedia, height 0.5s $zoomHomeMedia;
						}

						&.zoomable:hover {
							.cover-inner {
								left: -3%;
								width: 106%;
								height: 124%;
								transition: left 1.3s $zoomHomeMedia, width 1.3s $zoomHomeMedia, height 1.3s $zoomHomeMedia;							
							}
						}
					}

					&.inactive-top {
						bottom: 120%;
						left: 0;
						transition: bottom $speedCover $easeInOutQuart;

						.cover-inner {
							bottom: -100%;
							left: 0;
							transition: bottom $speedCover $easeInOutQuart;
						}
					}
				}
			}


			&#work-index-right {
				float: right;
				padding-left: $padding-separation-type-1;

				.cover {
					top: -100%;
					right: 0;
					transition: top 0s;

					.cover-inner {
						top: 100%;
						right: 0;
						transition: top 0s;
					}

					&.active {
						top: 0;
						left: 0;
						transition: top $speedCover $easeInOutQuart;

						.cover-inner {
							top: 0;
							left: 0;
							transition: top $speedCover $easeInOutQuart, left 0.5s $zoomHomeMedia, width 0.5s $zoomHomeMedia, height 0.5s $zoomHomeMedia;
						}

						&.zoomable:hover {
							.cover-inner {
								left: -3%;
								width: 106%;
								height: 124%;
								transition: left 1.3s $zoomHomeMedia, width 1.3s $zoomHomeMedia, height 1.3s $zoomHomeMedia;							
							}
						}

					}

					&.inactive-top {
						top: 120%;
						left: 0;
						transition: top $speedCover $easeInOutQuart;

						.cover-inner {
							top: -100%;
							left: 0;
							transition: top $speedCover $easeInOutQuart;
						}
					}
				}
			}
		}


		#view-project-link {
			position: absolute;
			top: 51%;
			left: 50%;
			width: 150px;
			height: 30px;
			margin-top: -15px;
			margin-left: -75px;
			text-align: center;
			cursor: pointer;
			@include opacity(0);
			@include text-10();
			transition: opacity 0.3s, top 0.3s;


			#liseret {
				margin: 0 auto;
				margin-top: 12px;
				width: 0;
				height: 1px;
				background-color: $orange-1;
				transition: width 0.3s;
			}

			&.active {
				top: 50%;
				@include opacity(1);

				#liseret {
					width: 25px;
				}
			}

			&:hover {
				#liseret {
					width: 45px;
				}
			}
			
		}


		#work-index-next {
			position: absolute;
			bottom: 45px;
			left: 50%;
			margin-left: -9px;
			cursor: pointer;
			@include opacity(0);
			transition: opacity 0.3s, bottom 0.3s;

			&.active {
				@include opacity(1);
				bottom: 65px;
			}

			&:hover {
				bottom: 60px; 
			}
		}


		#work-index-nums {
			position: absolute;
			bottom: 0;
			right: 0;
			width: 65px;


			#current-num {
				position: absolute;
				top: 2px;
				left: 0;

				.current-num-elt {
					position: absolute;
					top: 30px;
					left: 0;
					@include opacity(0);
					@include text-4();
					color: $orange-1;
					letter-spacing: 3px;
					transition: all $speedNum $easeInOutQuart;

					&.active {
						top: 0px;
						@include opacity(1);
					}
				}
			}

			#total-num {
				position: absolute;
				top: 0;
				right: 0;
				@include text-1();
				color: #fff;
				letter-spacing: 2px;
				@include opacity(0);
				transition: opacity 0.4s;

				&.active {
					@include opacity(1);
				}
			}
		}
	}
}
