footer {
	position: relative;
	padding: 50px 100px;


	#footer-content {
		position: relative;
		height: 30px;
		line-height: 30px;

		#copyright {
			float: left;
			@include text-1();
			color: $grey-7;
			line-height: 30px;
		}
		

		#menu-footer {
			list-style-type: none;
			float: right;

			li {
				display: inline-block;
				margin-left: 20px;
				@include text-1();

				&:first-child {
					margin-left: 0;
				}

				a {
					color: $grey-7;
				}
			}
		}

		#logo {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -6px;
			margin-left: -12px;
		}
	}
}

@media (max-width: 1100px) {
	footer {
		position: relative;
		padding: 50px 30px;
	}
}

@media (max-width: 1000px) {
	footer {
		padding: 40px 0;

		#footer-content {
			position: relative;
			height: auto;

			#copyright {
				float: none;
				@include text-1();
				font-size: 12px;
				color: $grey-7;
				line-height: 30px;
				text-align: center;
				@include opacity(0.2);
				margin-top: 10px;
			}

			#menu-footer {
				list-style-type: none;
				float: none;
				margin-top: 0;
				text-align: center;
				margin-top: 30px;

				li {
					display: inline-block;
					margin-left: 10px;
					@include text-1();
					color: $grey-4;
					font-size: 14px;


					&:first-child {
						margin-left: 0;

					}

					a {
						color: $grey-7;
					}
				}
			}


			#logo {
				position: relative;
				margin: 0 auto;
				top: 0;
				left: 0;
			}
		}
	}
}