@media (max-width: 768px) {
	
	#menu-mobile-top {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 50;
		width: 100%;
		height: 80px;
		background-color: $grey-1;

		&.transparent {
			background-color: transparent;
		}
		

		#menu-mobile-logo {
			position: absolute;
			top: 30px;
			left: 22px;
		}

		.menu-btn-open {
			
			&#menu-btn-open-mobile {
				position: absolute;
				top: 31px;
				right: 27px;
				width: 19px;
				height: 14px;
			}
		}
	}
	

	#menu-mobile-list {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		z-index: 21;
		background-color: $grey-1;
		transition: height 0.5s $easeInOutCubic;

		#menu-mobile-list-content {
			position: absolute;
			bottom: 70px;
			padding: 0 25px;

			ul {
				li {
					margin-top: 15px;

					&:first-child {
						margin-top: 0;
					}

					a {
						@include title-menu();
						color: $grey-2;
					}


					&.current {
						a {
							color: #fff;
						}
					}
				}
			}

		}

		&.active {
			height: 100%;
		}
	}
}
