#panel-left {
	position: fixed;
	top: 0;
	left: 0;
	width: $padding-separation-type-1;
	height: 100%;
	z-index: 40;

	&.liseret {
		border-right: 2px solid $grey-2;
	}
}

.menu-btn-open {
	z-index: 60;
	cursor: pointer;

	&#menu-btn-open {
		position: fixed;
		top: 50%;
		left: 40px;
		width: 19px;
		height: 14px;
		margin-top: -10px;
	}

	.tiret {
		position: absolute;
		left: 0;
		width: 19px;
		height: 2px;
		background-color: #fff;
		transition: 0.3s $animeTransitionHome;

		&:first-child {
			margin-top: 0;
		}

		&.tiret-1 {
			top: 0;
		}

		&.tiret-2 {
			top: 6px;
		}

		&.tiret-3 {
			top: 12px;
		}
	}

	&#menu-btn-open:hover {
		.tiret {
			background-color: $orange-1;
		}
	}


	&.active {
		.tiret-1 {
			@include rotate(225deg);
			top: 6px;
		}

		.tiret-2 {
			@include rotate(225deg);
		}

		.tiret-3 {
			@include rotate(135deg);
			top: 6px;
		}
	}
}


#menu-btn-full-sreen {
	position: absolute;
	bottom: $padding-border-type-1;
	left: 40px;
	cursor: pointer;
	z-index: 60;
	@include opacity(1);
	transition: opacity 0.3s;

	&:hover {
		@include opacity(0.7);
	}
}

#menu-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: $orange-1;
	z-index: 50;
	overflow: hidden;

	#menu-content {
		position: relative;
		width: 100%;
		height: 0;
		background-color: $grey-1;

		#canvas-menu-1 {
			position: absolute;
			top: 0;
			left: 0;
			width: 300px;
			height: 100%;
		}

		#canvas-menu-2 {
			position: absolute;
			top: 0;
			left: 0;
			width: 300px;
			height: 100%;
		}
	}

	#menu-border {
		position: relative;
		width: 100%;
		height: 10px;
		background-color: $orange-1;
	}
}

#menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;


	#list-menu-elts {
		position: relative;

		.list-backgrounds {
			width: 50%;
			left: 25%;
			
		}

		ul#menu-elts {
			padding-left: 240px;
					
			li {
				position: relative;
				height: 100px;
				z-index: 4;

				a {
					position: absolute;
					top: 50px;
					left: 0;
					@include title-menu();
					line-height: 100px;
					color: $grey-2;
					@include opacity(0);
					transition: opacity 0.5s ease, top 0.5s ease, color 0.2s;

					&:hover {
						color: $orange-1;
					}
				}

				&.current {
					a {
						color: #fff;
					}
				}
				

				&.active {
					a {
						top: 0px;
						@include opacity(1);
					}
				}
				

				&.inactive-top {
					a {
						top: -200px;
						@include opacity(0);
					}
				}
			}	
		}
	}
}