/* @font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'gotham_medium';
    src: url('../fonts/gotham_medium.eot');
    src: url('../fonts/gotham_medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham_medium.woff') format('woff'),
         url('../fonts/gotham_medium.ttf') format('truetype'),
         url('../fonts/gotham_medium.svg#gotham_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_bold';
    src: url('../fonts/gotham_bold.eot');
    src: url('../fonts/gotham_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham_bold.woff') format('woff'),
         url('../fonts/gotham_bold.ttf') format('truetype'),
         url('../fonts/gotham_bold.svg#gotham_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
